#!/usr/bin/env bash
# sample file for env

DEBUG=on
SECRET_KEY="secret key"
DATABASE_URL=psql://username:password@127.0.0.1:5432/databasename

#EMAIL
EMAIL_HOST='host.host.com'
EMAIL_PORT='111'
EMAIL_HOST_USER=from@from.com    
EMAIL_PASSWORD='password'

# Social authentication keys
# Twitter API keys
TWITTER_KEY="twitter_api_key"
TWITTER_SECRET="twitter_secret"

# Google API keys
GOOGLE_KEY="google_api_key"
GOOGLE_SECRET="google_secret"

#Facebook API keys
FACEBOOK_KEY="facebook_api_key"
FACEBOOK_SECRET="facebook_secret"

# Words Per Min
WORDS_PER_MIN=250
